{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

        <style>
            header{
                display: none;
            }
        </style>

        <div class="login-container">

            <div class="login-container--leftimage">
                <a href="{{ path('home') }}">< Retourner sur le site</a>
            </div>

            <div class="login-container--right">
                <div class="login-form">
                    <h1>Connexion</h1>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div style="display: flex; flex-direction: column">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Adresse e-mail" required autofocus>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
                        </div>

                    </form>
                </div>

            </div>

        </div>

{% endblock %}
