{% extends 'base.html.twig' %}

{% block title %}Mes Artisans Beautés :  {{ controller_name }}{% endblock %}

{% block body %}

    <div class="page-top w-100">
        <div class="page-top--leftimage"></div>
        <div class="page-top--content">
            <h1>Découvrez les artisans proches de chez-vous</h1>
            <span>Chacun a son savoir faire, sur Mes artisans Beauté vous trouverez celui qui vous correspond</span>
            <form class="bdr-10">
                <select name="pets" id="pet-select">
                    <option value="">Catégorie</option>
                    <option value="dog">Dog</option>
                </select>
                <input type="text" placeholder="Ville">
                <button type="submit" class="bdr-10">Rechercher</button>
            </form>
        </div>
    </div>
    <div class="page-top--boxinfo">
        <div class="page-top--boxinfo--content">
        <span>
            <i class="fi-rr-location-alt"></i>
            Des artisans près de chez-vous
        </span>
            <hr>
        <span>
            <i class="fi-rr-calendar"></i>
            Prise de rendez-vous rapide
        </span>
            <hr>
        <span>
            <i class="fi-rr-following"></i>
            Commentaires d'autres utilisateurs
        </span>
        </div>
    </div>

    <div class="page-content">
    <div class="home-infos w-100">
        <h1 class="block-title">Artisans autour de chez vous</h1>
        <div class="home-artisans-list w-100">
            <div class="artisans-box bdr-10">
                   <div class="artisans-box-pic"></div>

                    <div class="artisan-box-content">

                    <div style="display: flex; flex-direction: row">
                    <div class="rounded-box-info popular"><span><i class="fi-rr-flame"></i>Populaire</span></div>
                    <div class="rounded-box-info premium"><span><i class="fi-rr-badge"></i>Pro</span></div>
                    </div>

                    <div class="artisan-box--desc">
                        <h3>Nathan SUK -  <span class="city">Paris (75)</span></h3>

                        <span class="etst">5 étoiles</span>
                    </div>

                    </div>

                </div>
            <div class="artisans-box bdr-10">
                <div class="artisans-box-pic"></div>

                <div class="artisan-box-content">

                    <div style="display: flex; flex-direction: row">
                        <div class="rounded-box-info popular"><span><i class="fi-rr-flame"></i>Populaire</span></div>
                        <div class="rounded-box-info premium"><span><i class="fi-rr-badge"></i>Pro</span></div>
                    </div>

                    <div class="artisan-box--desc">
                        <h3>Nathan SUK -  <span class="city">Paris (75)</span></h3>

                        <span class="etst">5 étoiles</span>
                    </div>

                </div>

            </div>
            <div class="artisans-box bdr-10">
                <div class="artisans-box-pic"></div>

                <div class="artisan-box-content">

                    <div style="display: flex; flex-direction: row">
                        <div class="rounded-box-info popular"><span><i class="fi-rr-flame"></i>Populaire</span></div>
                        <div class="rounded-box-info premium"><span><i class="fi-rr-badge"></i>Pro</span></div>
                    </div>

                    <div class="artisan-box--desc">
                        <h3>Nathan SUK -  <span class="city">Paris (75)</span></h3>

                        <span class="etst">5 étoiles</span>
                    </div>

                </div>

            </div>
            <div class="artisans-box bdr-10">
                <div class="artisans-box-pic"></div>

                <div class="artisan-box-content">

                    <div style="display: flex; flex-direction: row">
                        <div class="rounded-box-info popular"><span><i class="fi-rr-flame"></i>Populaire</span></div>
                        <div class="rounded-box-info premium"><span><i class="fi-rr-badge"></i>Pro</span></div>
                    </div>

                    <div class="artisan-box--desc">
                        <h3>Nathan SUK -  <span class="city">Paris (75)</span></h3>

                        <span class="etst">5 étoiles</span>
                    </div>

                </div>

            </div>
        </div>
        <div class="infos-solutions">
        <h1 class="block-title" style="text-align: center; margin-bottom: 50px">Une solution pour les particuliers et professionnels</h1>
            <div class="solutions-content w-100">
                <i class="fi-rr-eye"></i>
                <hr>
                <div class="solutions-content--right">
                    <div class="solutions-content--infos">
                        <h2>Une solution gratuite</h2>
                        <p>Chez Artiste c’est GRATUIT. Nous voulons permettre aux professionnels indépendants d’être reconnus et davantage mis en avant. Des options payantes pourront être disponibles mais pas obligatoires.</p>
                        <button class="btn btn-seemore">En savoir plus </button>
                    </div>
                </div>
            </div>
            <div class="solutions-content w-100">
                <i class="fi-rr-dashboard"></i>
                <hr>
                <div class="solutions-content--right">
                    <div class="solutions-content--infos">
                        <h2>Pourquoi se créer une page Internet ?</h2>
                        <p>Pour mettre en avant votre savoir-faire. En indiquant vos prestations, vos tarifs et en partageant votre book photos, vous suscitez l’envie de vous découvrir et d’attirer de nouveaux clients autour de chez vous.</p>
                        <button class="btn btn-seemore">En savoir plus</button>
                    </div>
                </div>
            </div>
            <div class="solutions-content w-100">
                <i class="fi-rr-diploma"></i>
                <hr>
                <div class="solutions-content--right">
                    <div class="solutions-content--infos">
                        <h2>Les avantages</h2>
                        <p>En créant votre page, vous obtiendrez un meilleur référencement au niveau local et une plus grande visibilité grâce au partage de celle-ci sur vos réseaux sociaux et de votre présence sur notre site Artiste.</p>
                        <button class="btn btn-seemore">En savoir plus</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="monitor-numbers bdr-10">
            <div class="monitor-numbers--content">
                <div class="stats">
                <h1>100 000</h1>
                <span>utilisateurs sont inscrits</span>
                </div>
                    <hr>
                <div class="stats">
                <h1>30 000</h1>
                <span>artisans nous font confiance</span>
                </div>
            </div>
        </div>
    </div>

    <div class="page-top biginfo w-100">
        <div class="biginfo--content">
           <img src="http://assets.stickpng.com/images/5a02c5c218e87004f1ca43c0.png" alt="Carte de France">
            <div class="buginfo--content-right bdr-10">
                <h1>Des artisans partout en France</h1>
                <span>Recherchez votre ville pour voir les pages des artisans disponibles autour de vous.</span>
                <div class="form-content">
                    <input type="text" class="search-city bdr-10" placeholder="Chercher une ville...">
                    <button type="submit" class="btn btn-searchcity">Rechercher</button>
                </div>
            </div>
        </div>
    </div>

    <h1>Test</h1>
{% endblock %}
