@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid lightgray;
  justify-content: space-around;
}
header .logo {
  width: 200px;
  height: 30px;
  position: relative;
  top: 30%;
}
header img {
  margin-right: 10px;
}
header img:hover {
  cursor: pointer;
}
header button {
  position: relative;
  top: 15px;
  height: 50px;
  width: 200px;
  background-color: #3498db;
  color: white;
}

nav {
  position: relative;
  top: 40%;
  width: 500px;
  display: flex;
  justify-content: space-between;
  color: black;
  font-weight: 600;
}
nav a {
  color: black;
}
nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #224f69;
}

.user-space {
  font-weight: 600;
  position: relative;
  display: flex;
  top: 40%;
  width: 500px;
  justify-content: space-between;
}
.user-space a {
  color: black;
}
.user-space a i {
  margin-right: 10px;
}
.user-space a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #224f69;
}

.user-submenuopen:hover ~ .user-submenu {
  transition: 0.2s ease-in-out;
  display: block;
}

.user-submenu:hover {
  transition: 0.2s ease-in-out;
  display: block;
}

.user-submenu {
  display: none;
  height: auto;
  background-color: white;
  float: right;
  width: 100%;
  position: absolute;
  top: 30px;
  z-index: 99;
}
.user-submenu ul {
  list-style: none;
}
.user-submenu ul li {
  height: 30px;
  border: none;
  border-bottom: 1px grey;
  margin-bottom: 15px;
}
.user-submenu ul li i {
  margin-right: 10px;
}

.bdr-10 {
  border-radius: 10px;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 500;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

button {
  font-weight: 600;
  border: none;
}
button:hover {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.page-top {
  width: 100%;
  height: 500px;
  background-color: #333943;
  color: white;
  overflow: hidden;
}
.page-top .page-top--content {
  width: 70%;
  margin: auto;
  position: relative;
  top: 30%;
}
.page-top .page-top--content form {
  display: flex;
  align-items: center;
  width: 700px;
  margin-top: 15px;
  background-color: white;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-around;
}
.page-top .page-top--content form select {
  padding: 0 20px 0 20px;
  height: 40px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.page-top .page-top--content form input {
  width: 300px;
  height: 40px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.page-top .page-top--content form button {
  padding: 0 20px 0 20px;
  height: 40px;
}

.page-top--leftimage {
  width: 30%;
  height: 100%;
  border-radius: 0 0 0 100%;
  background-image: url("/assets/images/pagetopright.jpg");
  background-size: cover;
  position: relative;
  float: right;
}

.page-top--boxinfo {
  width: 70%;
  height: 100px;
  margin: auto;
  background-color: #dfb131;
  position: relative;
  top: -50px;
  display: flex;
  align-items: center;
}
.page-top--boxinfo--content {
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  position: relative;
  top: auto;
  bottom: auto;
}
.page-top--boxinfo--content span {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.page-top--boxinfo--content span i {
  font-size: 30px;
}
.page-top--boxinfo--content hr {
  height: 50px;
}

.page-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.home-artisans-list {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.home-artisans-list .artisans-box {
  width: 310px;
  height: 400px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 2 1 auto;
  margin-left: 10px;
}
.home-artisans-list .artisans-box h3 {
  font-weight: 600;
}
.home-artisans-list .artisans-box .artisans-box-pic {
  background-image: url("/assets/images/artisantest.jpeg");
  background-size: cover;
  border-radius: 10px;
  width: 100%;
  height: 250px;
}
.home-artisans-list .artisans-box .artisan-box--desc {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.home-artisans-list .artisans-box .artisan-box--desc .city {
  color: #d4d4d4;
}

.artisan-box-content {
  margin: auto;
}
.artisan-box-content .rounded-box-info {
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  position: relative;
  top: -20px;
  color: white;
  height: 40px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  font-weight: 600;
}
.artisan-box-content .rounded-box-info i {
  margin-right: 10px;
}
.artisan-box-content .rounded-box-info span {
  margin: auto;
}

.popular {
  width: 150px;
  background: #e22553;
}

.premium {
  width: 80px;
  background: #046cde;
}

.no-bgr {
  background-color: white;
  color: black;
}

.colored-bgr {
  background-color: #333943;
  color: white;
  margin-bottom: 30px;
}

.infos-solutions {
  margin-top: 30px;
}

.solutions-content {
  height: 500px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 15px;
}
.solutions-content .solutions-content--infos {
  position: relative;
  top: 20%;
}
.solutions-content .solutions-content--infos p {
  font-size: larger;
  margin-bottom: 30px;
}
.solutions-content .solutions-content--infos button {
  color: black;
  border: 2px solid black;
  width: 200px;
  height: 80px;
  background-color: white;
  box-shadow: 20px 15px 0px 3px #333943;
}

.solutions-content--image {
  margin-right: 100px;
  transition: 0.2s ease-in-out;
}
.solutions-content--image:hover {
  transition: 0.2s ease-in-out;
  margin-top: -10px;
}
.solutions-content--image:hover > img {
  transition: 0.2s ease-in-out;
  box-shadow: 30px 40px 0px 3px #333943;
}
.solutions-content--image .w-bgr {
  box-shadow: 22px 31px 0px 3px #ffffff;
}
.solutions-content--image img {
  transition: 0.2s ease-in-out;
  object-fit: cover;
  width: 400px;
  height: 300px;
  box-shadow: 22px 31px 0px 3px #333943;
}
.solutions-content--image button {
  border: 2px solid white;
  background: none;
  color: white;
  font-weight: 800;
  margin-top: 10px;
  width: 300px;
  height: 30px;
}

.monitor-numbers {
  z-index: 2;
  width: 80%;
  height: 150px;
  margin: auto;
  position: relative;
  top: 60px;
  background-color: #dfb131;
}
.monitor-numbers--content {
  position: relative;
  top: 30%;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.monitor-numbers--content .stats {
  text-align: center;
}
.monitor-numbers--content .stats h1 {
  font-weight: 800;
}
.monitor-numbers--content hr {
  background-color: white;
  border: 3px solid white;
  margin: 0 20px 0 20px;
}

.biginfo--content {
  width: 80%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.biginfo--content h1 {
  font-weight: 600;
}
.biginfo--content span {
  margin-bottom: 30px;
}
.biginfo--content img {
  width: 500px;
  height: 500px;
}
.biginfo--content .buginfo--content-right {
  width: 600px;
  height: 300px;
  background-color: #dfb131;
  padding: 50px;
  box-sizing: border-box;
}
.biginfo--content .form-content {
  display: flex;
  flex-direction: row;
}
.biginfo--content .form-content input {
  width: 400px;
  height: 50px;
  border: none;
  padding-left: 15px;
  font-size: 15px;
  margin-top: 30px;
}
.biginfo--content .form-content button {
  width: 100px;
  margin-left: 10px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #0f65ef;
  color: white;
  margin-top: 30px;
}

.home-news-list {
  margin-top: 50px;
}
.home-news-list .article-box {
  height: 300px;
  transition: all 0.5s ease-in-out;
  margin-bottom: 20px;
}
.home-news-list .article-box:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transform: scale(1.03);
}
.home-news-list .article-box h1 {
  text-align: center;
  position: relative;
  top: 50%;
  font-weight: 800;
  color: white;
}

.loginpage {
  background-image: url("https://photos.lci.fr/images/1280/720/coiffeur-1-8f415f-0@1x.jpeg");
}

.login-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
.login-container .login-container--leftimage {
  width: 25%;
  height: 100%;
  background-image: url("https://media.lesechos.com/api/v1/images/view/5f3be7d43e454657c479ef0b/1280x720/0603555103958-web-tete.jpg");
  background-attachment: fixed;
}
.login-container .login-container--leftimage a {
  margin-left: 50px;
  background-color: lightgray;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  top: 30px;
  color: white;
  text-decoration: none;
}
.login-container .login-container--right {
  width: 75%;
  height: 100%;
  background-color: #ececec;
}
.login-container .login-container--right .login-form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 100px;
}
.login-container .login-container--right .login-form label {
  display: none;
}
.login-container .login-container--right .login-form input {
  width: 600px;
  border-radius: 10px;
  border: none;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 15px;
}
.login-container .login-container--right .login-form input::placeholder {
  color: #b5b5b5;
}
.login-container .login-container--right form button {
  background-color: #3498db;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  margin-top: 15px;
  height: 50px;
  width: 150px;
}
.login-container .login-container--right form select {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  margin-right: 10px;
  color: #b5b5b5;
}
.login-container .login-container--right form ul {
  list-style: none;
  color: #B0413E;
}

.article-topstory {
  background-size: cover;
  height: 500px;
}

.article-show h1 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 30px;
}

.back-to-article {
  margin-top: 30px;
  color: white;
  background-color: #dfb131;
  font-weight: 800;
  padding: 20px;
}

.artisan-container {
  display: flex;
  flex-direction: row;
}
.artisan-container .artisan-container--leftpart {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.artisan-container .artisan-container--leftpart .artisan-info-box {
  height: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.artisan-container .artisan-container--leftpart .artisan-info-box .artisan-info-box--content {
  margin-top: 10px;
  text-align: center;
}
.artisan-container .artisan-container--leftpart .artisan-info-box .artisan-profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: auto;
  background-image: url("http://localhost:8000/assets/images/home-working.jpg");
  background-size: cover;
}
.artisan-container .artisan-container--leftpart .artisan-info-box .artisan-location {
  color: lightgray;
  font-weight: 500;
}
.artisan-container .artisan-container--leftpart .artisan-info-box .artisan-taglist {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 20px;
}
.artisan-container .artisan-container--leftpart .artisan-info-box .artisan-taglist span {
  border-radius: 10px;
  color: white;
  background-color: #333943;
  font-weight: 800;
  padding: 20px;
  margin-bottom: 10px;
}

.artisan-container--rightpart {
  width: 60%;
  margin-left: 20px;
}

.user-actions-list {
  display: flex;
  flex-direction: column;
}
.user-actions-list button {
  width: 100%;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 15px;
  color: white;
  font-weight: 800;
}

.artisan-map {
  height: 200px;
  background-image: url("http://localhost:8000/assets/images/testmap.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-artisan {
  display: flex;
  flex-direction: column;
}
.contact-artisan span {
  margin-bottom: 20px;
  font-size: 20px;
}

.book-photo {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
  justify-content: space-between;
}

.photo-box {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-image: url("https://cache.marieclaire.fr/data/photo/w1000_ci/51/salons-de-coiffure-paris.jpg");
  background-size: cover;
  margin-bottom: 10px;
  flex: 1 1 auto;
  margin-right: 10px;
  transition: 1s ease-in-out;
}
.photo-box:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
  box-shadow: #1d2124;
}

.artisan-top {
  width: 100%;
  height: 500px;
  background-image: url("https://www.artxterra.com/wp-content/uploads/2020/03/etre-artiste-en-temps-de-crise-coronavirus-scaled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  text-align: center;
}
.artisan-top .center-top {
  margin: auto;
  position: relative;
  top: 50%;
  color: white;
}
.artisan-top h1 {
  font-weight: 800;
}
.artisan-top .artisan-type {
  width: 100px;
  height: 100px;
  color: white;
  background-color: #333943;
}

.proaddress-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.w-49 {
  width: 49%;
}

.proaddress-infos--box {
  height: 150px;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0), 0 15px 12px rgba(0, 0, 0, 0.12);
}
.proaddress-infos--box .box-content {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 20%;
  overflow: hidden;
}
.proaddress-infos--box .box-content span {
  color: #ec7373;
  font-weight: bolder;
  margin-left: 30px;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}

.danger {
  background-color: #ec7373;
}

.success {
  background-color: #CAF7E3;
}

.primary {
  background-color: #A6DCEF;
}

.rounded-bgr-icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  color: white;
  margin-left: -10px;
}
.rounded-bgr-icon i {
  position: relative;
  top: 25%;
  font-size: 50px;
}

.settings-content {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.settings-content form {
  width: 800px;
}
.settings-content input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid lightgray;
  margin-bottom: 10px;
}
.settings-content textarea {
  width: 100%;
  height: 200px;
}
.settings-content label {
  display: block;
  font-weight: 800;
}
.settings-content button {
  margin-top: 10px;
}
.settings-content .settings-menu {
  width: 400px;
  height: auto;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.settings-content .settings-menu ul {
  list-style: none;
}

.liste-photos {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 50%;
}

.photo-card {
  margin-bottom: 20px;
}

#register_artisan select {
  width: 615px;
  margin-bottom: 20px;
}

.searchpage-content {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}
.searchpage-content .searchpage-content--list {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  overflow: scroll;
}

.search-artisanbox {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0), 0 15px 12px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
}
.search-artisanbox:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.01);
  cursor: pointer;
}

.artisansbox-coverimage {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.artisanbox-info {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 10px;
}

.searchpage-content--map {
  width: 40%;
  height: 80%;
  background-color: red;
  margin-left: 20px;
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
