{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} : {{ controller_name }}{% endblock %}

{% block body %}
    <div class="page-top w-100">
        <div class="page-top--leftimage"></div>
        <div class="page-top--content">
            <h1>Professionnel ?</h1>
            <span>Découvrez les avantages d'{{ site_name }} ! </span>
        </div>
    </div>

{% endblock %}
