{% block header %}

    <header>

        <img src="assets/images/logo-mab.jpeg" alt="Mes artisans beauté logo" onclick="location.href= '/'">
        <nav>
        <a href="#">Rechercher un artisan</a>
        <a href="#">Professionnels</a>
        </nav>
        <div class="user-space">
            <a href="#"><i class="fi-rr-user-add"></i>S'inscrire</a>
            <a href="#"><i class="fi-rr-user"></i>Se connecter</a>
        </div>


    </header>



{% endblock %}